<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles3.css') }}">


    <title>Saved books</title>

</head>
<body>

{% for book_data in books %}
                <div class="container">
                    <div class="box1">
                        <div class="colored">
                            <h2>{{ book_data[1] }}</h2>
                            <p>by {{ book_data[0] }}</p>
                            <img class="img1" src="{{ book_data[2] }}" alt="Image">


                            <form id="Form2" action="{{ url_for('del_favorite_book') }}" method="post">
                                <input type="hidden" name="author_name" value="{{ book_data[0] }}">
                                <button type="submit" class="button button1"><i class="material-icons">&hearts;</i></button>
                            </form>
                        </div>
                    </div>
                </div>
        {% endfor %}

</body>
</html>